<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  <h2> About me </h2>
  Hello, my name is Silas. Im running this turtorial on "Learn Web Devolopment with Rails". This is exercise 2 at cap. 3.6 :).
  <br><br>
  Contact me at my e-mail: <a href="http://www.hotmail.com/"><em>Silas_Jeppe@hotmail.com</em></a>
</p>

